<ion-header>
  <ion-toolbar color="gitHub">
    <ion-title>Palabras Agudas</ion-title>
  </ion-toolbar > 
</ion-header>
   
  <h1 padding>Concepto de palabras Graves</h1>
  <ion-content>
      <ion-grid fixed>
          <ion-row>
            <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
                <ion-card >
                    <!-- <ion-img src="/assets/icon/calido-calor.gif"></ion-img> -->
                    <img src="/assets/icon/grave-acentúan.gif" alt="">
                    <ion-card-header>
                      
                        <ion-card-title></ion-card-title>
                      </ion-card-header>
                       
                    <ion-card-content >
                      Las reglas de acentuación implican la escritura de una tilde o acento ortográfico en ciertas palabras.
                      Así podemos distinguir entre diversas formas de pronunciar una palabra.
                      </ion-card-content>
                    </ion-card>
  
                    <ion-card >
                        <!-- <ion-img src="/assets/icon/iguales-identicos.gif"></ion-img> -->
                        <img src="/assets/icon/grave-alcancia.gif" alt="">
                          <ion-card-header>
                            <!-- <ion-card-subtitle>Los antónimos</ion-card-subtitle> -->
                              <ion-card-title>Palabras Graves</ion-card-title>
                            </ion-card-header>
                             
                          <ion-card-content>
                            Las palabras graves, también conocidas como paroxítonas o llanas, son las más frecuentes
                            y se caracterizan por ser todas aquéllas que se acentúan en la penúltima sílaba.  
                                                           
                            </ion-card-content>
                          </ion-card>
  
                          <ion-card >
                              <!-- <ion-img src="/assets/icon/sinonimos2.gif"></ion-img> -->
                              <img src="/assets/icon/grave-colmillo-son-tilde.gif" alt="">
                                <ion-card-header>
                                  <!-- <ion-card-subtitle>Los antónimos</ion-card-subtitle> -->
                                    <ion-card-title>Palabras Graves Regla</ion-card-title>
                                  </ion-card-header>
                                   
                                <ion-card-content>
                                  Llevan acento ortográfico o tilde cuando terminan en cualquier consonante menos "n" o "s". 
                                  Y en caso excepcional cuando se rompe el diptongo como en Afonía,  Biología (biologí-a), acentúan, etc.

                                  
                                  </ion-card-content>
                                </ion-card>
  
                                <!-- <ion-card >
                              
                                    <img src="/assets/icon/Agudas-presentacion.gif" alt="">
                                      <ion-card-header>
                                       
                                          <ion-card-title>Palabras agudas con tilde</ion-card-title>
                                        </ion-card-header>
                                         
                                      <ion-card-content>
                                        Palabras agudas son aquellas que llevan acento en la última sílaba.
                                        Para tener tilde, o acento gráfico, ésta sílaba debe terminar en las consonantes -n o -s
                                        y estar precedidas por otra consonante o algunas de las vocales (a,e,i,o,u).                                       
                                        </ion-card-content>
                                      </ion-card> -->
            </ion-col>
          </ion-row>
        </ion-grid>
  </ion-content>
  