<ion-header>
  <ion-toolbar color="gitHub">
    <ion-title>Palabras Agudas</ion-title>
  </ion-toolbar > 
</ion-header>
   
  <h1 padding>Concepto de palabras Esdrujulas</h1>
  <ion-content>
      <ion-grid fixed>
          <ion-row>
            <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
                <ion-card >
                    <!-- <ion-img src="/assets/icon/calido-calor.gif"></ion-img> -->
                    <img src="/assets/icon/esdrujula-espatula.gif" alt="">
                    <ion-card-header>
                      
                        <ion-card-title></ion-card-title>
                      </ion-card-header>
                       
                    <ion-card-content >
                      Las sílabas son unidades lingüísticas formadas por sonidos articulados que se agrupan
                      a partir de aquel que tiene mayor sonoridad (usualmente, una vocal). 
                      </ion-card-content>
                    </ion-card>
  
                    <ion-card >
                        <!-- <ion-img src="/assets/icon/iguales-identicos.gif"></ion-img> -->
                        <img src="/assets/icon/esdrujula-fantastico.gif" alt="">
                          <ion-card-header>
                            <!-- <ion-card-subtitle>Los antónimos</ion-card-subtitle> -->
                              <ion-card-title>Palabras Esdrujulas</ion-card-title>
                            </ion-card-header>
                             
                          <ion-card-content>
                            Si nos centramos en las palabras esdrújulas, el acento siempre se ubica en la antepenúltima
                            sílaba. Debido a lo establecido por las reglas de nuestro idioma en cuanto a la escritura,
                            este acento también es ortográfico: se señala con tilde.                          
                            </ion-card-content>
                          </ion-card>
  
                          <ion-card >
                              <!-- <ion-img src="/assets/icon/sinonimos2.gif"></ion-img> -->
                              <img src="/assets/icon/esdrujula-lagrima.gif" alt="">
                                <ion-card-header>
                                  <!-- <ion-card-subtitle>Los antónimos</ion-card-subtitle> -->
                                    <ion-card-title>Palabras Esdrujulas </ion-card-title>
                                  </ion-card-header>
                                   
                                <ion-card-content>
                                  La propia palabra “esdrújula” es esdrújula: se separa en cuatro sílabas (es-drú-ju-la) 
                                  y se acentúa en la antepenúltima (drú), por eso lleva tilde.
                                  “Sílaba” también es una palabra esdrújula: en este caso, de tres sílabas (sí-la-ba).
                                  </ion-card-content>
                                </ion-card>
  
                                <!-- <ion-card >
                              
                                    <img src="/assets/icon/Agudas-presentacion.gif" alt="">
                                      <ion-card-header>
                                       
                                          <ion-card-title>Palabras agudas con tilde</ion-card-title>
                                        </ion-card-header>
                                         
                                      <ion-card-content>
                                        Palabras agudas son aquellas que llevan acento en la última sílaba.
                                        Para tener tilde, o acento gráfico, ésta sílaba debe terminar en las consonantes -n o -s
                                        y estar precedidas por otra consonante o algunas de las vocales (a,e,i,o,u).                                       
                                        </ion-card-content>
                                      </ion-card> -->
            </ion-col>
          </ion-row>
        </ion-grid>
  </ion-content>
  