<ion-header>
  <ion-toolbar color="gitHub">
    <ion-title>Palabras Agudas</ion-title>
  </ion-toolbar > 
</ion-header>
   
  <h1 padding>Concepto de palabras Agudas</h1>
  <ion-content>
      <ion-grid fixed>
          <ion-row>
            <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
                <ion-card >
                    <!-- <ion-img src="/assets/icon/calido-calor.gif"></ion-img> -->
                    <img src="/assets/icon/agudas-acordeon.gif" alt="">
                    <ion-card-header>
                      
                      
                      <!-- <ion-label >&nbsp; &nbsp; &nbsp; &nbsp; Dia &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  Noche</ion-label> -->
                      <!-- <ion-card-subtitle>Los sinónimos</ion-card-subtitle> -->
                        <ion-card-title></ion-card-title>
                      </ion-card-header>
                       
                    <ion-card-content >
                      De acuerdo a su acentuación, las palabras de la lengua castellana pueden clasificarse como:
                      agudas, graves, esdrújulas o sobreesdrújulas. La pertenencia a uno u otro grupo depende de la acentuación de cada término.
                      </ion-card-content>
                    </ion-card>
  
                    <ion-card >
                        <!-- <ion-img src="/assets/icon/iguales-identicos.gif"></ion-img> -->
                        <img src="/assets/icon/Agudas-direccion.gif" alt="">
                          <ion-card-header>
                            <!-- <ion-card-subtitle>Los antónimos</ion-card-subtitle> -->
                              <ion-card-title>Palabras Agudas</ion-card-title>
                            </ion-card-header>
                             
                          <ion-card-content>
                            <b>  La silaba tónica: </b>
                              
                            Ahora hablaremos de la sílaba tónica la cual es la parte de una palabra que se pronuncia con mayor énfasis,
                            es aquella que está acentuada. 
                                                           
                            </ion-card-content>
                          </ion-card>
  
                          <ion-card >
                              <!-- <ion-img src="/assets/icon/sinonimos2.gif"></ion-img> -->
                              <img src="/assets/icon/amistad.gif" alt="">
                                <ion-card-header>
                                  <!-- <ion-card-subtitle>Los antónimos</ion-card-subtitle> -->
                                    <ion-card-title>Palabras Agudas sin tilde</ion-card-title>
                                  </ion-card-header>
                                   
                                <ion-card-content>
                                  Las palabras agudas no llevan tilde cuando: 
                                  Terminan en en una consonante que sea distinta de -n o -s; Por ejemplo:
                                  
                                  partir, amistad, reloj, trigal, tonel, pared, ciudad, amistad
                                  </ion-card-content>
                                </ion-card>
  
                                <ion-card >
                              
                                    <img src="/assets/icon/Agudas-presentacion.gif" alt="">
                                      <ion-card-header>
                                       
                                          <ion-card-title>Palabras agudas con tilde</ion-card-title>
                                        </ion-card-header>
                                         
                                      <ion-card-content>
                                        Palabras agudas son aquellas que llevan acento en la última sílaba.
                                        Para tener tilde, o acento gráfico, ésta sílaba debe terminar en las consonantes -n o -s
                                        y estar precedidas por otra consonante o algunas de las vocales (a,e,i,o,u).                                       
                                        </ion-card-content>
                                      </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
  </ion-content>
  