<ion-header>
  <app-header titulo="Concepto Sinonimo"></app-header>
</ion-header>
<h1 padding>Concepto de sinónimo</h1>
<ion-content>
    <ion-grid fixed>
        <ion-row>
          <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
              <ion-card >
                  <!-- <ion-img src="/assets/icon/calido-calor.gif"></ion-img> -->
                  <img src="/assets/icon/calido-calor.gif" alt="">
                  <ion-card-header>
                    <ion-card-subtitle>Los sinónimos</ion-card-subtitle>
                      <ion-card-title>Que son los sinónimos ?</ion-card-title>
                    </ion-card-header>
                     
                  <ion-card-content>
                      Los sinónimos son palabras o expresiones que tienen significados iguales o muy parecidos,
                      y que pertenecen a la misma categoría gramatical, por lo tanto,
                      se pueden substituir o intercambiar en un texto sin que este sufra modificación en su sentido.
                    </ion-card-content>
                  </ion-card>

                  <ion-card >
                      <!-- <ion-img src="/assets/icon/iguales-identicos.gif"></ion-img> -->
                      <img src="/assets/icon/iguales-identicos.gif" alt="">
                        <ion-card-header>
                          <ion-card-subtitle>Los sinónimos</ion-card-subtitle>
                            <ion-card-title>En que momentos los usamos</ion-card-title>
                          </ion-card-header>
                           
                        <ion-card-content>
                            Cuando procuramos presentar escritos que tengan un lenguaje cuidado,
                            evitando cacofonías y demostrando cierta variedad o riqueza léxica.
                            Los sinónimos nos permiten evitar repeticiones innecesarias de palabras
                            mediante la substitución o alternancia de vocablos cuyo sentido sea igual o similar.
                          </ion-card-content>
                        </ion-card>

                        <ion-card >
                            <!-- <ion-img src="/assets/icon/sinonimos2.gif"></ion-img> -->
                            <img src="/assets/icon/sinonimos2.gif" alt="">
                              <ion-card-header>
                                <ion-card-subtitle>Los sinónimos</ion-card-subtitle>
                                  <ion-card-title>Precausion al usar sinónimos</ion-card-title>
                                </ion-card-header>
                                 
                              <ion-card-content>
                                  Los sinónimos deben usarse con prudencia e inteligencia, verificando, además,
                                  en el diccionario si el sinónimo que pretendemos emplear es adecuando para el 
                                  contexto en que lo estamos colocando, pues no necesariamente siempre una substitución
                                   de palabra soluciona nuestros problemas de lenguaje.
                                </ion-card-content>
                              </ion-card>

                              <ion-card >
                                  <!-- <ion-img src="/assets/icon/pelotas.png"></ion-img> -->
                                  <img src="/assets/icon/pelotas.png" alt="">
                                    <ion-card-header>
                                      <ion-card-subtitle>Los sinónimos</ion-card-subtitle>
                                        <ion-card-title>Conclusion</ion-card-title>
                                      </ion-card-header>
                                       
                                    <ion-card-content>
                                        Podemos concluir que los sinónimos son un recurso muy útil en la redacción de textos
                                        para los profesionales de la escritura, como los escritores, periodistas y guionistas,
                                        así como para estudiantes e investigadores que estén realizando un trabajo escrito o una monografía.
                                      </ion-card-content>
                                    </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
