<ion-header>
  <ion-toolbar color="gitHub">
      <ion-buttons slot="start">
          <ion-back-button  defaulHref="/"></ion-back-button>
        </ion-buttons>
    <ion-title>Palabras Esdrujulas</ion-title>
  </ion-toolbar>
</ion-header> 

<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="concepto">
        <ion-icon name="help-circle"></ion-icon>
        <ion-label>Concepto</ion-label>
        
      </ion-tab-button>
  
      <ion-tab-button tab="ejercicio">
        <ion-icon name="fitness"></ion-icon>
        <ion-label>Ejercicio</ion-label>
      </ion-tab-button>
      

    </ion-tab-bar>
  </ion-tabs>