<ion-header>
  <app-header titulo="Sinonimos"></app-header>
  <!-- <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
      <ion-title>Hola</ion-title>
  </ion-toolbar>
   -->
</ion-header>

<ion-tabs>

    <ion-tab-bar color="gitHub" slot="bottom">
    
      <ion-tab-button tab="concepto">
        <ion-icon name="help-circle">
          <ion-label>Concepto</ion-label>
        </ion-icon>
      </ion-tab-button>
    
      <ion-tab-button tab="ejercicio">
          <ion-icon name="fitness">
            <ion-label>Ejercicio</ion-label>
          </ion-icon>
        </ion-tab-button>
    
        <ion-tab-button tab="diccionario">
            <ion-icon name="book">
              <ion-label>Diccionario</ion-label>
            </ion-icon>
          </ion-tab-button>
    </ion-tab-bar>
    
    
    
    </ion-tabs>
