<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button>
        <ion-back-button></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Concepto Antonimos</ion-title>
  </ion-toolbar>
</ion-header>
<!-- 
<ion-header>
    <app-header titulo="Concepto Sinonimo"></app-header>
  </ion-header> -->
  <h1 padding>Concepto de antónimos</h1>
  <ion-content>
      <ion-grid fixed>
          <ion-row>
            <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
                <ion-card >
                    <!-- <ion-img src="/assets/icon/calido-calor.gif"></ion-img> -->
                    <img src="/assets/icon/Antonimos.gif" alt="">
                    <ion-card-header>
                      
                      
                      <ion-label >&nbsp; &nbsp; &nbsp; &nbsp; Dia &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  Noche</ion-label>
                      <!-- <ion-card-subtitle>Los sinónimos</ion-card-subtitle> -->
                        <ion-card-title>Que son los antónimos ?</ion-card-title>
                      </ion-card-header>
                       
                    <ion-card-content>
                        Los antónimos son palabras que tienen significados opuestos o contrarios entre sí.
                        Es un sustantivo que describe palabras que expresan ideas opuestas o contrarias en relación a un término,
                        por ejemplo, lo opuesto de día es noche.
                      </ion-card-content>
                    </ion-card>
  
                    <ion-card >
                        <!-- <ion-img src="/assets/icon/iguales-identicos.gif"></ion-img> -->
                        <img src="/assets/icon/frio-caliente.gif" alt="">
                          <ion-card-header>s
                            <!-- <ion-card-subtitle>Los antónimos</ion-card-subtitle> -->
                              <ion-card-title>Tipos de antónimos</ion-card-title>
                            </ion-card-header>
                             
                          <ion-card-content>
                            <b>  Antónimos Graduales: </b>
                              
                              Los antónimos graduales, son aquellos que significan lo contrario, pero existe un grado de contrariedad.
                              El ejemplo más claro sucede en los colores: Blanco y negro (podría ser gris) o en las temperaturas como:
                              frío y caliente (podría ser helado, tibio, templado)
                                                           
                            </ion-card-content>
                          </ion-card>
  
                          <ion-card >
                              <!-- <ion-img src="/assets/icon/sinonimos2.gif"></ion-img> -->
                              <img src="/assets/icon/igual-desigual.gif" alt="">
                                <ion-card-header>
                                  <!-- <ion-card-subtitle>Los antónimos</ion-card-subtitle> -->
                                    <ion-card-title>Tipos de antónimos</ion-card-title>
                                  </ion-card-header>
                                   
                                <ion-card-content>
                                    <b>Antónimo complementario:</b> consiste en que la afirmación de uno elimina la posibilidad de
                                    que exista otro, es decir, son términos incompatibles. Por ejemplo, vivo o muerto, 
                                    legal e ilegal
                                  </ion-card-content>
                                </ion-card>
  
                                <ion-card >
                                    <!-- <ion-img src="/assets/icon/pelotas.png"></ion-img> -->
                                    <img src="/assets/icon/friocalinte.jpg" alt="">
                                      <ion-card-header>
                                        <!-- <ion-card-subtitle>Los antónimos</ion-card-subtitle> -->
                                          <ion-card-title>Tipos de antónimos</ion-card-title>
                                        </ion-card-header>
                                         
                                      <ion-card-content>
                                       <b> Antónimo reciproco:</b> significa que la existencia de uno implica la presencia del otro.
                                        Por ejemplo, comprar y vender son antónimos recíprocos debido a que no se puede comprar si no vende un bien o servicio.
                                        Padre e hijo, ya que la persona que es llamado padre es porque tiene, por lo menos, un hijo.                                        
                                        </ion-card-content>
                                      </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
  </ion-content>
  